.list {
  border: 2px solid black;
  width: 50%;
  margin: 6px;
  max-height: fit-content;
  padding-bottom: 12px;
}

.listTitle {
  margin: 0;
  text-decoration: underline;
  padding: 12px;
  box-sizing: border-box;
  background-color: #009bde;
  color: white;
  font-weight: bold;
  border-bottom: solid 2px black;
}
