.shoppingInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addButton {
  width: 10%;
  font-size: 16px;
  color: white;
  line-height: 1.33;
  border-radius: 32px;
  background-color: #009bde;
  border: 2px solid #009bde;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.4s ease-in-out;
}

.input {
  width: 25%;
  line-height: 2;
  border-radius: 32px;
  margin-bottom: 16px;
  border: 1px solid black;
  font-family: "Raleway", sans-serif;
  padding: 0 12px;
  font-weight: bold;
  text-align: center;
  color: black;
  font-size: 16px;
}

.addButton:hover {
  opacity: 1;
}

.input:focus,
.addButton:focus {
  outline: none;
}
